/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'Inter-Variable'), sans-serif;
  font-variation-settings: 'wght' var(--main-font-weight, 400);
  color: var(--accent-color, #000);
  background-color: var(--background-color, #fff);
  background-image:
    repeating-linear-gradient(0deg, var(--stripe-color, #d3d3d3) 0, var(--stripe-color, #d3d3d3) 2px, transparent 2px, transparent 4px),
    repeating-linear-gradient(90deg, var(--stripe-color, #d3d3d3) 0, var(--stripe-color, #d3d3d3) 2px, transparent 2px, transparent 4px),
    linear-gradient(180deg, var(--gradient-start, #e7e7e7) 0.01%, var(--gradient-end, #1a1a1a) 100%);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  display: flex;
  justify-content: center;
  /*margin-block-start: 100px;*/
  width: clamp(375px, 100%, 696px);
  height: 327px;
  font-family: var(--accent-font, 'Press Start 2P');
  font-style: normal;
  font-weight: var(--main-font-weight, 400);
  line-height: normal;
  text-transform: uppercase;
  background-color: var(--background-color, #fff);
  border: 2px solid var(--accent-color, #000);
}

.header__theme-menu {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 20px;
}

.header__title {
  margin-block-start: 120px;
  font-size: 49px;
}

.header__subtitle {
  margin-block-end: 5px;
  font-size: 14px;
}

.theme-menu__list {
  display: grid;
  justify-items: center;
  justify-self: center;
  gap: 14px;
  font-size: 14px;
}

.theme-menu__button {
  border: none;
  background: transparent;
  text-transform: uppercase;
}

.theme-menu__button:disabled {
  opacity: 0.6;
  position: relative;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -13px;
}
